.main{
    background-color: #F4EFE3
}

.main__calendrier{
    text-indent: 30px; 
}

.main__texte{
    display: block;
    margin: 10px 0; 
    text-indent: 60px; 
}

.main__tarifs{
    text-indent: 30px; 
}

.main__button{
    width: 117px;
    height: 47px;
    flex-shrink: 0; 
    border-radius: 10px;
    background: #7F9366;
    margin-left: 400px;
}

.main__tarifs__prix1{
    margin-left: 200px;
    color:#7F9366;
}
.main__tarifs__prix2{
    margin-left: 190px;
    color:#7F9366;
}
.main__tarifs__prix3{
    margin-left: 105px;
    color:#7F9366;
}
.main__tarifs__prix4{
    margin-left: 95px;
    color:#7F9366;
}
.main__tarifs__prix5{
    margin-left: 150px;
    color:#7F9366;
}

.text_h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.contact h2 {
    text-align: center;
    color: #7F9366; /* Couleur du texte du titre */
}
.contact {
    max-width: 6000px; /* Ajustez la largeur maximale selon vos préférences */
    margin: auto;
    padding: 20px;
}
.contact div {
    margin-bottom: 15px;
}

.contact label {
    display: block;
    margin-bottom: 5px;
    color: #7F9366; /* Couleur du texte des étiquettes */
}

.contact input,

.contact textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #7F9366; /* Couleur de la bordure des champs de saisie */
    border-radius: 5px; /* Coins arrondis */
}

.contact button {
    background-color: #7F9366; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: auto;
    margin-top: 200px;
}

.bio {
    max-width: 600px; /* Ajustez la largeur maximale selon vos préférences */
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre pour mettre en évidence la section bio */
}

.bio h2 {
    text-align: center;
    background-color: #7F9366; /* Couleur de fond verte */
    color: black; /* Couleur du texte blanc */
    padding: 10px; /* Espace intérieur autour du texte */
    border-radius: 5px; /* Coins arrondis */
}

.bio img {
    display: block;
    margin: auto; /* Centrer l'image horizontalement */
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
    height: auto; /* Garantir une hauteur proportionnelle lors du redimensionnement */
}

/* Ajoutez ce code à votre fichier CSS */

.gallerie {
    max-width: 800px;
    margin: auto;
}

/* Style pour chaque paire d'image et de texte */
.gallerie-item {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Une colonne pour l'image et deux colonnes pour le texte */
    gap: 20px; /* Espacement entre l'image et le texte */
    margin-bottom: 30px; /* Espace entre chaque paire d'image et de texte */
}

/* Style pour chaque image */
.gallerie-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style pour le texte à droite de l'image */
.gallerie-item p {
    text-align: justify; /* Justification du texte */
}

/* Style pour le titre (situé au-dessus du texte) */
.gallerie-item h2 {
    margin-bottom: 10px; /* Espace entre le titre et le texte */
}