.main{
    background-color: #F4EFE3;
}

.main__calendrier{
    text-indent: 30px; 
}

.main__texte{
    display: block;
    margin: 10px 0; 
    text-indent: 60px; 
}

.main__tarifs{
    text-indent: 30px; 
}

.main__button{
    width: 117px;
    height: 47px;
    flex-shrink: 0; 
    border-radius: 10px;
    background: #7F9366;
    margin-left: 400px;
}