.footer{
    background-color: #9B715D;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-shrink: 0; 
}

.footer_button{
    background-color: #A84C3B;
    width: 293px;
    height: 47px;
    flex-shrink: 0; 
    margin-top: 20px;
    border-radius: 8px;
}