.header{
    padding: 100px var(--space3x);
    background-color: #7F9366;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.header__title{
    font-size: 3.3rem;
    font-family: var(--font-serif);
    font-weight: normal;
}

.header__icon{
    justify-content: left;
}

.header__menu{
    justify-content: right;
}